body
{
    background-color: #303030;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
#container
{
    width: 1200px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.rectangle
{
    background-color: #303030;
    width: 1160px;
    margin-left:  0px;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;

}

.square
{
    width: 50%;
    float: left;
}

#logo
{
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    width: 600px;
}

#clock
{
    float: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;

}

.tile1
{
    margin: 10px;
    width: 280px;
    height: 173px;
    background-color: #3095d3;
    float: left;
    text-align: center;
}

.tile1:hover
{
background-color: #0062a0;
transform: scale(1.1);
}

.tile2
{
    margin: 10px;
    width: 280px;
    height: 173px;
    background-color: #666666;
    float: left;
    text-align: center;
}

.tile2:hover
{
background-color: #444444;
transform: scale(1.1);
}

.tile3
{
    margin: 10px;
    width: 280px;
    height: 173px;
    background-color: #00ff00;
    float: left;
    text-align: center;
}

.tile3:hover
{
background-color: green;
transform: scale(1.1);
}

.tile4
{
    margin: 10px;
    width: 520px;
    height: 113px;
    background: linear-gradient(35deg, #af140f86, #c4302bfa, #d14d36);
    float: left;
    text-align: center;
    font-size: 26px;
    padding: 30px;
    line-height: 150%;
}

.tile5
{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 10px;
    width: 500px;
    height: 306px;
    background: linear-gradient(35deg, #757575, #44444407);
    float: left;
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

.square .tile5 img
{
    border-radius: 50%;
}

.yt
{
    margin: 10px;
    width: 125px;
    height: 173px;
    background-color: #c4302b;
    float: left;
}

.yt:hover
{
background-color: #c4302b9d;
transform: scale(1.1);
}

.fb
{
    margin: 10px;
    width: 125px;
    height: 173px;
    background-color: #3b5998;
    float: left;
}

.fb:hover
{
background-color: #3b5898a1;
transform: scale(1.1);
}

.skype
{
    margin: 10px;
    width: 125px;
    height: 173px;
    background-color: #00aff0;
    float: left;
}

.skype:hover
{
background-color: #00b0f085;
transform: scale(1.1);
}

.tw
{
    margin: 10px;
    width: 125px;
    height: 173px;
    background-color: #3095d3;
    float: left;
}

.tw:hover
{
background-color: #3094d3ad;
transform: scale(1.1);
}

a.tilelink
{
    color: #ffffff;
    text-decoration: none;
}

.rectangle a {
    color: #ffffff;
    text-decoration: none;
}

.rectangle a:hover {
    color: #00aff0;
}